/* mon-formulaire.component.css */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles pour les champs invalides (ajustez-les en fonction de vos besoins) */
  input:invalid {
    border-color: #ff0000;
    background-color: #ffe6e6;
  }

  .success {
    color: green;
    font-weight: bold;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }